<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/fragments/commons :: head}"></div>
    <title>Filmelandia - Página Principal</title>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" th:href="@{'index'}">Filmelândia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{'index'}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuário</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" th:href="@{'logout'}">fazer logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Filmelândia</h1>
      <p class="lead fw-normal text-white-50 mb-0">Viaje pelo mundo cinematográfico e escolha seus favoritos</p>
    </div>
  </div>
</header>
<div class="d-flex justify-content-center">
    <h2 th:text="${mensagem}"></h2>
</div>
<!-- Section-->
<br>
<div class="d-flex justify-content-center">
    <a th:href="@{'cadastrarPagina'}" class="btn btn-outline-dark">
        Cadastrar Filmes
        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
      </a>
    </div>  
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div th:each="filme : ${filmes}">
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" th:src="@{${filme.imgUri}}" alt="..." height="200px" width="200px" />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder" th:text="${filme.titulo}"></h5>
              <p>R$<span th:text="${filme.preco}"></span></p>
              <p><strong>Ano:</strong> <span th:text="${filme.anoLancamento}"></span></p>
              <p><strong>Elenco:</strong> <span th:text="${filme.elenco}"></span></p>
              <p><strong>Direção:</strong> <span th:text="${filme.direcao}"></span></p>
              <p><strong>Descriçao:</strong> <span th:text="${filme.descricao}"></span></p>
              <div>
                <a th:href="@{'editarPage/'+${filme.id}}" class="btn btn-outline-dark">
                    Editar
                    <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                  </a>
              </div>
              <br>
              <div>
                <a th:href="@{'doDeletar/'+${filme.id}}" class="btn btn-outline-dark">
                    Deletar
                    <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                  </a>
              </div>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer>
    <div th:replace="~{/fragments/commons :: footer}"></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
