<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de Filmes</h1>
    <form method = "post" th:action = "@{/doSalvar}" th:object="${filme}" enctype="multipart/form-data" >
        Título: <input type="text" th:field="*{titulo}">
        <br />
    
        Ano: <input type="text" th:field="*{anoLancamento}">
        <br />
    
        Gênero: <input type="text" th:field="*{genero}">
        <br />
    
        Direção: <input type="text" th:field="*{direcao}">
        <br />

       Elenco: <input type="text" th:field="*{elenco}">
        <br />

       Descrição: <input type="text" th:field="*{descricao}">
        <br />
        
        Imagem: <input type="file" name = "file" >
        <br />


        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>