<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar Filme</title>
    <div th:replace="~{/fragments/commons :: head}"></div>
</head>
<body>
    <div th:replace="~{/fragments/commons :: NavigationAdmin}"></div>
    <div th:replace="~{/fragments/commons :: headerCadastrar}"></div>
    <form method="post" th:action="@{/doSalvar}" th:object="${filme}" enctype="multipart/form-data">
        <div th:replace="~{/fragments/commons :: sectionCadastrar}"></div>
    </form>
    <footer>
        <div th:replace="~{/fragments/commons :: footer}"></div>
    </footer>
</body>
</html>
