<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Filme</title>
    <div th:replace="~{/fragments/commons :: head}"></div>
</head>

<body>
    <div th:replace="~{/fragments/commons :: NavigationAdmin}"></div>
    <div th:replace="~{/fragments/commons :: headerEditar}"></div>

    <form method="post" th:action="@{/doSalvar}" th:object="${filme}" enctype="multipart/form-data">
        <section th:replace="~{/fragments/commons :: sectionEditar}"></section>
    </form>
</body>
<footer>
    <div th:replace="~{/fragments/commons :: footer}"></div>
</footer>
</html>
