<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>
<body>
    <h1>Menu Principal</h1>
    <h2>Cadastre <a th:href="@{cadastrarPagina}">aqui</a> </h2>

    <p th:text="${mensagem}"></p>

    <table>
        <tr th:each="filme: ${filmes}">
            <td th:text="${filme.titulo}"></td>
            <td th:text="${filme.anoLancamento}"></td>
            <td th:text="${filme.genero}"></td>
            <td th:text="${filme.direcao}"></td>
            <td th:text="${filme.elenco}"></td>
            <td th:text="${filme.descricao}"></td>
            <td><img th:src="@{${filme.imgUri}}"/></td>
            <td><a th:href="@{'editarPage/'+${filme.id}}">Editar</a></td>
            <td><a th:href="@{'doDeletar/'+${filme.id}}">Deletar</a></td>
            <td><a th:href="@{'adicionarCarrinho/'+${filme.id}}">Adicionar ao carrinho</a></td>
        </tr>
        
    </table>
</body>
</html>